@using Secret_Santa_MVC.Data.Entities;
@model IEnumerable<GetRooms>

@if (Model == null || Model.Count() == 0)
{
    <p>You don`t have room</p>
}
else
{
    @foreach (GetRooms r in Model)
    {

        <a asp-controller="Game" asp-action="GuestRoom" asp-route-idRoom="@r.IdRoom">
            <p class="room-block">Name Room: @r.NameRoom &nbsp; Count:@r.CountUser</p>
        </a>
    }
}