<p> <a asp-controller="Game" asp-action="Rooms" class="text-dark">Your room</a> </p>
<p> <a asp-controller="Game" asp-action="JoinToRoom" class="text-dark">Join to room</a></p>
<p><a asp-controller="Game" asp-action="CreateRoom" class="text-dark">Create Room</a></p>
<p><a asp-controller="Game" asp-action="GuestGame" class="text-dark">GuestGames </a> </p>