################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Secret-Santa_MVC/Secret-Santa_MVC.csproj
