<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" type="text/css" />
        <style>
            img.background{
                min-height:100%;
                min-width:640px;
                width:100%;
                height:auto;
                position:fixed;
                margin-top:60px;
                top:0px;
                left:0;
                opacity:0.2;
                z-index: -1;
            }
            .uydi{
                padding-top:60px;
            }
        </style>
    </head>
    <body>
        <div class="uydi">
        <h1>Hello in my site </h1>

        <p>This site was created to play Secret Santa</p>

        
        <img src="~/Img/Secret_Santa.png" alt="Secret Santa" width="500" height="500">
        </div>
       
        <img src="~/Img/Background1.jpg"alt="Background" class="background"/>

    </body>
</html>