<head>
    <style>
        .MyText{
            position:absolute;
            text-align:center;
            top:15%;
            left:50%;
            transform:translate(-50%,-50%);
            color:white;
        }
        
    </style>
</head>
<h3 class="MyText">Виникла помилка</h3>
<img id="pic" src="~/Img/Two_Santas.jpg" alt="Error Santa" style="width:100%">