@model Secret_Santa_MVC.Models.Identity.ResetPasswordViewModel
<html>
    <body>
        <h4>Enter password</h4>
        <hr/>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="Code" type="hidden"  />
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <input type="submit" value="Done" />
        </form>
    </body>
</html>