@model Secret_Santa_MVC.Models.Identity.AuthRequest

<div class="Index">
    <form method="post" asp-action="Authenticate" asp-controller="account">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="RememberMe" class="control-label"></label>
            <input asp-for="RememberMe"/>
        </div>
        <input type="submit" value="Login"/>
        <div>
            
        </div>
    </form>
</div>