<html>
    <head>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    </head>
    <body>
        <div class="Index">
<a asp-action="Register" asp-controller="Account">Register</a><br />
<a asp-action="Authenticate" asp-controller="Account">Login</a><br />
<a asp-action="Index" asp-controller="GoogleAuth">Login in Google</a><br />
</body>
</div>
</html>