@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SighInManager
@inject UserManager<IdentityUser> UserManager


<a asp-action="Register" asp-controller="Santa">Register</a>
<a asp-action="Index" asp-controller="Login">Login</a>
@if(SighInManager.IsSignedIn(User))
{
    <p>Hello @User.Identity?.Name</p>
}
else
{
    <p>Hello nobody</p>
}
<div>

</div>