@model Secret_Santa_MVC.Models.User

<div class="rom">
    <div class="col-md-4">
            <form asp-controller="Santa" asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName" />
                    <span asp-validation-for="FullName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class= "form-group">
                    <label asp-for="Age"></label>
                    <input asp-for="Age" />
                    <span asp-validation-for="Age"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Wish"></label>
                    <input asp-for="Wish"></>
                    <span asp-validation-for="Wish"></span>
                </div>
                <div class="form-group">
                <input type="submit" value="Register">
                </div>
            </form>
        </div>
        </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}                  